{% extends 'base.htm'%}
{% block title %}
Progress Report
{% endblock title %}

{% block body %}

<div class="table-responsive" style="width:100%">
  <table id="bootstrapdatatable" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">District</th>
      <th scope="col">Location Name</th>
      <th scope="col"> DC Name</th>
      <th scope="col"> % Entry Done </th>
      <th scope="col"> Zero FIR/SD </th>
      <th scope="col">Day 16 SD</th>
      <th scope="col">Day 16 FIR</th>
      <th scope="col">Day 17 SD</th>
      <th scope="col">Day 17 FIR</th>
      <th scope="col">Day 18 SD</th>
      <th scope="col">Day 18 FIR</th>
      <th scope="col">Day 19 SD</th>
      <th scope="col">Day 19 FIR</th>
      <th scope="col">Day 20 SD</th>
      <th scope="col">Day 20 FIR</th>
      <th scope="col">Day 21 SD</th>
      <th scope="col">Day 21 FIR</th>
      <th scope="col">Day 22 SD</th>
      <th scope="col">Day 22 FIR</th>
      <th scope="col">Day 23 SD</th>
      <th scope="col">Day 23 FIR</th>
      <th scope="col">Day 24 SD</th>
      <th scope="col">Day 24 FIR</th>
      <th scope="col">Day 25 SD</th>
      <th scope="col">Day 25 FIR</th>
      <th scope="col">Day 26 SD</th>
      <th scope="col">Day 26 FIR</th>
      <th scope="col">Day 27 SD</th>
      <th scope="col">Day 27 FIR</th>
      <th scope="col">Day 28 SD</th>
      <th scope="col">Day 28 FIR</th>
      <th scope="col">Day 29 SD</th>
      <th scope="col">Day 29 FIR</th>
      <th scope="col">Day 30 SD</th>
      <th scope="col">Day 30 FIR</th>
      <th scope="col">Other_Entry</th>
    </tr>
  </thead>
  <tbody>
    {% for res in total_entry %}
    <tr>
      <td>{{res.district_name}}</td>
      <td>{{res.loc_name}}</td>
      <td>{{res.dc_name}}</td>
      <td>{{res.perps}}</td>
      <td>{{res.zeroday}}</td>
      <td>{{res.day1sd}}</td>
      <td>{{res.day01fir}}</td>
      <td>{{res.day02sd}}</td>
      <td>{{res.day02fir}}</td>
       <td>{{res.day03sd}}</td>
      <td>{{res.day03fir}}</td>
      <td>{{res.day04sd}}</td>
      <td>{{res.day04fir}}</td>
      <td>{{res.day05sd}}</td>
      <td>{{res.day05fir}}</td>
      <td>{{res.day06sd}}</td>
      <td>{{res.day06fir}}</td>
       <td>{{res.day07sd}}</td>
      <td>{{res.day07fir}}</td>
      <td>{{res.day08sd}}</td>
      <td>{{res.day08fir}}</td>
       <td>{{res.day09sd}}</td>
       <td>{{res.day09fir}}</td>
       <td>{{res.day10sd}}</td>
      <td>{{res.day10fir}}</td>
      <td>{{res.day11sd}}</td>
      <td>{{res.day11fir}}</td>
       <td>{{res.day12sd}}</td>
      <td>{{res.day12fir}}</td>
      <td>{{res.day13sd}}</td>
      <td>{{res.day13fir}}</td>
      <td>{{res.day14sd}}</td>
      <td>{{res.day14fir}}</td>
      <td>{{res.day15sd}}</td>
      <td>{{res.day15fir}}</td>
      <td>{{res.other_entry}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}